/*CUSTOM CSS START*/
:root {
    --primary-color: #fd8500;
    --secondary-color: #fff;
    --primary-bg-color: #202227;
    --secondary-bg-color: #0a0a0c;
    --tertiary-bg-color: #666;
}
html, body{
    overflow-x:clip;
}
a, img{
    -webkit-user-drag: none;
}
.pointer{
    cursor: pointer;
}
body{
    font-weight:400;
    font-style:normal;
    background-color:var(--primary-bg-color);
    font-family:-apple-system,BlinkMacSystemFont,montserrat,Roboto,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    min-height:100vh;
    padding-bottom:0px!important;
    display:flex;
    flex-direction:column;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,.btn{
    font-weight: 600;
}
.img{
    max-width:100%;
}
.button:focus,a:focus,button:focus{
    text-decoration:none;
    outline:0
}
a:focus{
    color:var(--secondary-color);
    text-decoration:none
}
a,button{
    color:var(--secondary-color);
    outline:medium none
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    color:inherit;
}
p{
    font-size:16px;
    font-weight:300;
    line-height:28px;
    color:var(--secondary-color);
    margin-bottom:13px
}
label{
    color:#7e7e7e;
    cursor:pointer;
    font-size:14px;
    font-weight:400
}
::-moz-selection{
    background:var(--primary-color);
    color:var(--secondary-color);
    text-shadow:none
}
::selection{
    background:var(--primary-color);
    color:var(--secondary-color);
    text-shadow:none
}
::-webkit-input-placeholder{
    color:var(--primary-color);
    font-size:14px;
    opacity:1
}
:-ms-input-placeholder{
    color:var(--primary-color);
    font-size:14px;
    opacity:1
}
::placeholder{
    color:var(--primary-color);
    font-size:14px;
    opacity:1
}
input.text-white::placeholder {
    color: #ababab!important
}
h3{
    font-size:24px
}
#mainArticleSection{
    border:solid var(--primary-color);
    border-top:0;
    border-radius:5px;
    color:var(--secondary-color);
    background-color:RGBA(0,0,0,.85);
    background-color:#000000b2;
    overflow-wrap:break-word;
    margin-bottom:12vh;
    position: relative;
}
.textArticleHeader{
    color:var(--primary-color);
    font-size:48px;
    margin-bottom:5%
}
@media (min-width:992px){
    .mobile_only{
        display:none!important
    }
}
footer{
    background-color:RGBA(0,0,0,.85);
    background-color:#000000b2;
    color:var(--secondary-color);
    margin-top:auto
}
a,button,h2{
    text-decoration:none;
    color:var(--primary-color);
}
.level{
    vertical-align:middle;
    display:inline-block;
    font-size:16px;
    border-radius:16px;
    border:solid orange 2px;
    height:28px;
    width:28px;
    line-height:22px;
    text-align:center;
    margin-left:1px
}
img{
    max-width:100%
}
.submenu li a:hover{
    color:var(--primary-color)!important
}
.row>div>a>span{
    color:var(--secondary-color);
}
.task{
    border-bottom:solid 2px #fd8500;
    padding-top:15px;
    padding-bottom:15px
}
.video-container{
    position:relative;
    width:100%;
    padding-bottom:56.25%
}
.video-container>iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:0
}
.video-overlay{
    position:fixed;
    background:#000;
    width:60%;
    margin:0 auto;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:var(--secondary-color);
    z-index:1000
}
@media (max-width:1100px){
    .video-overlay{
        width:100%;
        top:40%
    }
}
.video-underlay{
    background-color:#000;
    opacity:.9;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width:100%;
    height:120%;
    z-index:1
}
.sexy_line{
    margin:25px 0;
    height:1px;
    background:#000;
    background:-webkit-gradient(linear,0 0,100% 0,from(var(--primary-bg-color)),to(var(--primary-bg-color)),color-stop(50%,var(--primary-color)))
}
ins.adsbygoogle[data-ad-status=unfilled]{
    display:none!important
}
.fa-check-circle{
    color:green
}
.fa-times-circle{
    color:red
}
.profilekey{
    border:0;
    filter:blur(3px)
}
.profilekey:active,.profilekey:hover{
    filter:blur(0)
}
@media only screen and (max-width:768px){
    .countdown{
        font-size:4em!important
    }
    .skey{
        font-size:2em!important
    }
}
.gaTable .row:nth-child(2n){
    background-color:var(--secondary-bg-color)
}
.gaTable .row:nth-child(odd){
    background-color:var(--primary-bg-color)
}
.friendPlayerLevel{
    height:32px;
    width:32px
}
.keylist.reduced>div:nth-child(n+13){
    display:none
}
.numOfSelTasks{
    display: inline-block;
    width: 2ch;
}
.adsbygoogle[data-adsbygoogle-status*='done'] ~ a{
    display:none;
}
html:has(body.framed), body.framed{
    overflow:hidden
}
body.framed header{
    display:none
}
body.framed footer{
    display:none
}
body.framed .framehidden{
    display:none
}
body.framed .grecaptcha-badge{
    display:none!important
}
body.framed #mainArticleSection{
    border:0;
    margin-bottom:0
}
/*CUSTOM CSS END*/

/*SCROLLBAR CSS START*/
::-webkit-scrollbar{
    width:8px;
    height:8px
}
::-webkit-scrollbar-button{
    width:0;
    height:0
}
::-webkit-scrollbar-thumb{
    background:var(--primary-color);
    border:0 none var(--secondary-color);
    border-radius:5px
}
::-webkit-scrollbar-track{
    background:var(--tertiary-bg-color);
    border:0 none var(--secondary-color);
    border-radius:50px
}
::-webkit-scrollbar-corner{
    background:0 0
}
/*SCROLLBAR CSS END*/

/*NAVBAR CSS START*/
header{
    background:RGBA(0,0,0,.97);
    box-shadow:0 3px 16px 0 rgba(0,0,0,.3)
}
.navbar.navbar-expand-lg.row > div.show:not(:last-child) {
    background:RGBA(0,0,0,.9)
}
header.sticky-top ul li a{
    color:var(--secondary-color)!important;
    padding:0 0 10px 0;
    position:relative
}
header.sticky-top ul li a.active {
    color:var(--primary-color)!important
}
header.sticky-top ul li a:hover{
    color:var(--primary-color)!important
}
header.sticky-top ul li a::before{
    position:absolute;
    content:"";
    background:var(--primary-color);
    width:100%;
    height:2px;
    bottom:0;
    transform:scaleX(0);
    transition:.3s
}
header.sticky-top ul li a.active::before{
    opacity:1;
    transform:scaleX(1)
}
header.sticky-top ul li a:hover::before{
    opacity:1;
    transform:scaleX(1)
}
header.sticky-top .dropdown-menu{
    background-color: unset;
}
header.sticky-top .dropdown-menu li{
    padding-top:15px;
}
@media only screen and (min-width:992px){
    header.sticky-top .dropdown-menu.show{
        background: RGBA(0,0,0,.9);
    }
}
.book_btn a{
    background:0 0;
    padding:12px 26px;
    font-size:18px;
    font-weight:400;
    border:1px solid var(--primary-color);
    color:var(--primary-color);
    border-radius:30px
}
.book_btn a:hover{
    background:var(--primary-color);
    color:var(--secondary-color);
    border:1px solid var(--primary-color)
}
/*NAVBAR CSS END*/
